h1, h2, h3, h4, h5 {
  font-family: 'Poppins', sans-serif !important;
}

.main-navbar {
  background-color: #54318c;
}

.nav-link {
  color: white !important;
  font-family: 'Poppins', sans-serif !important;
}

.nav-link:hover {
  color: #ffcc00 !important;
}

