h1,
h2,
h3,
h4,
h5 {
  font-family: 'Poppins', sans-serif !important;
}

.login-form {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  color: white;
}

.login-form h1 {
  color: #54318c;
}

.form-button {
  background-color: #ffde5c !important;
}

.form-border {
  width: 54%;
  padding: 20px;
  border: 1px solid #333;
  border-radius: 5px;
  margin: 0 auto;
  background-color: #a486d5;
}

.login-image {
  max-width: 60%; /* You can adjust as needed */
  margin-right: 20px; /* Spacing between the image and the form content */
}

.flash-message {
    padding: 10px;
    background-color: #e8f4e3;
    border: 1px solid #a6d7c4;
    color: #3a8d68;
    border-radius: 5px;
    margin: 10px 0;
    text-align: center;
}
